.filter_panel__container {
    display: flex;
    flex-flow: column;
    flex: 1;
    min-width: 200px;
    justify-content: flex-start;
}

.filter_panel__item {
    display: flex;
    flex-flow: column;
    margin: 2em;
}

.filter_panel__button {
    display: flex;
    flex-flow: column;
    margin: 1em;
}

.filter_panel__item-text {
    font-size: 1.1em;
    display: flex;
    font-weight: bold;
    text-transform: capitalize;
}