.map__full-screen-control {
  position: absolute;
  top: 0;
  left: 0;
  padding: '10px';
}

.map__nav {
  position: absolute;
  top: 36;
  left: 0;
  padding: '10px';
}

.map__scale-control {
  position: absolute;
  bottom: 36;
  left: 0;
  padding: '10px';
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}
