.map__full-screen-control {
  position: absolute;
  left: 0;
  top: 0;
  margin: 5px;
}

.map__nav {
  position: absolute;
  left: 0;
  top: 32px;
  margin: 5px;
}

.map__refresh-button {
  position: absolute;
  top: 5px;
  right: 5px;
}