
/* Styles for Uploader.tsx (Main Uploader Workflow */

.uploader__container {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100vh;
}

.uploader__nav {
    display: flex;
    flex-flow: column;
    flex: 1;
    padding: 1em;
    background-color: #30404D;
    width: 100%;
}

.uploader__window {
    display: flex;
    flex-flow: column;
    flex: 4;
    padding: 1em;
    background-color: #E1E8ED;
    width: 100%;
}

.uploader__nav_contents {
    display: flex;
    flex-flow: column;
    flex: 1;
}

/* Styles for Metadata at top of Nav */
.uploader__nav_metadata_section {
    display: flex;
    flex-flow: column;
}

.uploader__nav_title {
    display: flex;
    font-size: 2em;
    font-weight: bold;
    color: white; 
    justify-content: center;
}

.uploader__nav_metadata_item {
    display: flex;
    font-size: 1em;
    color: white; 
    justify-content: center;
    text-transform: uppercase;
}
/* Styles for Uploader Nav */

.uploader__nav_item {
    display: flex;
    font-size: 1.5em;
    margin: 1em;
    color: white;
}

.uploader__nav_item--disabled {
    opacity: 0.5;
    color: #E1E8ED;
}

.uploader__nav_item--current {
    color: white;
}