.dashboard-container{
  overflow: hidden;
  position: relative;
  height: 100vh;

}

.dashboard-container h1{
	text-transform: none;
	font-weight: 200;
	font-size: 65px;
	letter-spacing: 4px;
}

.dashboard-container h2{
	text-transform: none;
	font-weight: 100;
  font-size: 50px;
  letter-spacing: 2px;
}

.dashboard-container h3{
	text-transform: none;
	font-weight: 100;
  font-size: 30px;
  letter-spacing: 1px;
}

/*left-side: menu*/
.dashboard-menu-container{
  background-color: rgba(20, 20, 20, 1);
  padding: 2em;
  height: 100vh;
  height: flex;
}

.dashboard-menu-container .btn{
  background-color: rgba(20, 20, 20, 1);
  padding: 1em;
  min-height: 10px;
  font-size: 16px;
}




/*right-side: panel*/
.dashboard-panel-container{
  text-align: center;
  padding: 10%;
  padding-top: 3em;
  height: flex;
  height: 100vh;
  overflow-y: scroll;
}

#welcome-panel{
  padding-top: 10%;
}

.dashboard-landing-donations h2{
  padding-top: 2em;
}

.dashboard-landing-donations h1{
  color: rgb(10, 88, 34);
}


.dashboard-weekly-donations h1{
  color: rgb(10, 88, 34);
}

.dashboard-weekly-donations{
  padding-top: 5em;
}

.dashboard-transaction-table{
  padding-top: 5em;
}

.dashboard-behavior-table{
  padding-top: 5em;
}

.dashboard-bulletin-message-form{
  padding-top: 5em;
}
