.landing-container{
  overflow: hidden;
  position: relative;
}

.center-row{
  text-align: center;
}

.right-row{
  text-align: right;
}

/* welcome page (left side) formatting*/
.welcome-container{
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  background-image: linear-gradient(#303D59,#0D1932, black);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position:relative;
}

.welcome-container h1{
	text-transform: none;
	font-weight: 200;
	font-size: 65px;
	letter-spacing: 4px;
}

.welcome-container h2{
	text-transform: none;
	font-weight: 100;
  font-size: 50px;
  letter-spacing: 2px;
}

.welcome-container h3{
  color: rgba(255, 255, 255, 0.6);
	text-transform: none;
	font-weight: 100;
  font-size: 25px;
  letter-spacing: 1px;
}

.welcome-title{
  padding: 20%;
}

.welcome-container .btn{
  background-color: transparent; 
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

#learn-more{
  padding-top: 2em;
}


/*about carousel*/
.about-carousel{
  padding: 2em;
  padding-top: 8em;
}

.about-carousel h2{
  font-size: 35px;
}

.carousel-container{
  padding-left:20%;
  padding-right:20%;
}

.carousel-text{
  position:relative;
  text-align: left;
  min-height: 300px;
  padding-top: 2em;
}


/*login (right side) formatting*/
.login-container{
  text-align: center;
  float: center;
  position: fixed;
}

.login-div{
  height: 100vh;
  overflow-y: scroll;
}

.login-container .btn{
  margin: 5px;
}

.form-header{
  text-align: center;
  padding: 10px;
  padding-top: 8em;
}
