.landing-container{
  overflow: hidden;
  position: relative;
}

/* welcome page (left side) formatting*/
.welcome-container{
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  background-image: linear-gradient(#303D59,#0D1932, black);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  position:relative;
}

.welcome-container h1{
	text-transform: none;
	font-weight: 200;
	font-size: 65px;
	letter-spacing: 4px;
}

.welcome-container h2{
	text-transform: none;
	font-weight: 100;
	font-size: 50px;
}

.welcome-container h3{
	text-transform: none;
	font-weight: 100;
	font-size: 25px;
}

.welcome-title{
  padding: 20%;
}

/*login (right side) formatting*/
.login-container{
  max-height: 100px;
  position:fixed;
  top:0;
  right: 0;
}
